body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.accordion-container {
    max-width: 800px;
    margin: 20px auto;
}

.accordion {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.accordion:hover {
    background-color: #555;
}

.panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.panel p {
    margin: 10px 0;
}

.panel img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.panel a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.panel a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.nav {
    gap: 1em;
    margin-top: 1em;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 700;
    position: relative;
}
.nav a:hover {
    color: #ffdd57;
}
.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffdd57;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav a:hover::after {
    width: 100%;
}
/* Custom scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Custom scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
}

/* Custom scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
